

/*GENERAL*/

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 15px;
  color: #444;
}

h1 {
  font-family: 'Crete Round', serif;
  font-size: 2rem;
  padding-left: 15px;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 30px;
  width: 400px;
  border-bottom: 1px solid #59DECC;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #444;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.orange {
  color: #FF7A00;
}

.clear {
  clear: both;
}

/*HEADER*/

header {
  height: 75px;
}

header h1 {
  float: left;
  margin-top: 15px;
}

header nav {
  float: right;
  margin-top: 33px;
}

header nav ul li {
  float: left;
  display: inline-block;
  margin-right: 20px;
}

header nav ul li a {
  text-transform: uppercase;
  font-weight: bold;
}

header nav ul li a:hover {
  color: #FF7A00;
}

/*MAIN IMG*/

#main-img {
  height: 580px;
  background: url('img/img1.jpg') right;
}

#main-img h2 {
  color: #cac1e4;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  padding: 150px 0 40px 0;
  margin-bottom: 20px;
}

.button-1 {
  display: block;
  width: 120px;
  height: 50px;
  background-color: #FF7A00;
  color: white;
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
  line-height: 50px;
  border-radius: 3px;
}

.button-1:hover {
  background-color: #59DECC;
}

/*WORK*/

#work ul {
  margin: 80px;
} p {
  padding-bottom: 40px;
  font-size: 1rem;
}

#work ul li {
  width: 250px;
  float: left;
  text-align: center;
  margin-right: 10px;
}

#work h4 {
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
} .fa {
  color: #59DECC;
  margin: 15px auto;

}

/*POSSIBILITIES*/
#possibilities {
  background-color: #efefef;
  padding: 60px 0;
  text-align: center;
} p {
  font-size: 13px;
}

.overlay {
  width: 200px;
  height: 270px;
  border-radius: 10px;
  padding: 20px;
  float: left;
  margin-right: 20px;
}

.vitrine {
  background: rgba(255, 255, 255, 0.95);
  width: 240px;
  height: 310px;
  float: left;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 20px;
}

.vitrine:hover {
  background-image: url(img/img-2.jpg);
}

.marchand {
  background: rgba(255, 255, 255, 0.95);
  width: 240px;
  height: 310px;
  float: left;
  border-radius: 10px;
  padding-top: 20px;
  margin-right: 20px;
}

.marchand:hover{
  background-image: url(img/img-3.jpg);
}

.mobile {
  background: rgba(255, 255, 255, 0.95);
  width: 240px;
  height: 310px;
  float: left;
  border-radius: 10px;
  padding-top: 20px;
}

.mobile:hover {
  background-image: url(img/img-5.jpg);
}

.robot {
  background: rgba(255, 255, 255, 0.95);
  width: 240px;
  height: 310px;
  float: left;
  border-radius: 10px;
  margin-top: 20px;
  padding-top: 20px;
  margin-right: 20px;
}

.robot:hover{
  background-image: url(img/img-4.jpg);
  color:white;
}

article h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

.button-2 {
  color: white;
  background-color: #59DECC;
  font-size: 1rem;
  padding: 6px 20px;
  border-radius: 3px;
}

.button-2:hover {
  background-color: #FF7A00;
}

/*CONTACT*/

#contact {
  padding: 60px 0;
  text-align: center;

} p {
  font-size: 1rem;
  margin: 20px;
}

form {
  margin: 60px 0 20px 0;
}

label {
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
  color: #777;
}

input {
  padding: 10px;
  font-size: 20px;
  margin-right: 20px;
  border: 2px solid #DDD;
  border-radius: 3px;
}

.button-3 {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  padding: 11px;
  background-color: #59DECC;
  border-style: none;
  border-radius: 3px;
}

.button-3:hover {
  background-color: grey;
}
